
<!doctype html>
<html>
  <head>
    <script src="https://platform-api.sharethis.com/js/sharethis.js#property=5d2f14e2735046001257ff7a&product=inline-follow-buttons"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      img.logo{
      height: 5%;
      width: 5%;
    }
    </style>
  </head>
  <body>
    {% include navigation.html %}
    {{content}}
  </body>
  <br /><br />
  <footer><div class="sharethis-inline-follow-buttons"></div> <br />&copy; Copyright 2019 Rushil Singh <br /></footer>
</html>



